.root {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
}

.inner {
  position: relative;
}

.content {
  padding-top: rem(220px);
  position: relative;
  z-index: 1;

}

.title {
  font-family: Greycliff CF, sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);
  color: blue;

}

.description {
  max-width: rem(540px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}