.container{
    height: 35em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.button{
    width: 10em;
    height: 3em;
    border-radius: 1em;
    background-color: #1E90FF;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 1em;
    
}


.button:active{
    transform: scale(0.9);
    background-color: greenyellow;
    box-shadow: 0 0 10px greenyellow, 0 0 40px greenyellow, 0 0 80px greenyellow;

}



