.main {
    padding: 2rem;
    background-color: beige;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.2s;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: black;
}

.mainNotAllowed {
    padding: 2rem 2rem 0 2rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.2s;
    background-color: whitesmoke;
    user-select: none;
    margin-bottom: 5%;
}


.main:hover {
    background-color: #c9dcc9;
}

.main:active {
    background-color: cornflowerblue;
}